# Import libraries and modules

In [1]:
# selenium import here

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys

In [2]:
# Other import here

import pandas as pd
import time

# Start and Setup

In [9]:

start_time = time.time()
url = "https://www.ntu.ac.uk/search?query=Faculty%20member%20of%20biology&category=&sort=relevance&category=Staff"
s = Service("chromedriver-win32/chromedriver")

driver = webdriver.Chrome(service = s)
driver.get(url)
time.sleep(3)

In [10]:
# Close cookie banner if present

try:
    WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CLASS_NAME, "accept-cookies"))).click()
except:
    pass

# Filter of staff

In [11]:
# select staff checkbox members

# driver.maximize_window()
# sttaf_chechbox = driver.find_element(By.XPATH, value = '//label[@for = "Staff"]')
# sttaf_chechbox.click()
# time.sleep(5)

### Load all results of search

In [14]:

result_count = driver.find_element(By.XPATH, value= '//strong[@class = "resultCount"]').text
result_count = int(result_count)
print(result_count)

157

In [16]:

if result_count % 10 == 0:
    page_count = result_count // 10 - 1
else:
    page_count = result_count // 10

for i in range(page_count):
        next_page = driver.find_element(By.XPATH, value = '//a[@class = "more-results" ]')
        next_page.get_attribute("data-more")
        next_page.click()
        time.sleep(10)

### get list of sttuf link

In [17]:

url_list = []

all_items_url = driver.find_elements(By.XPATH, value = '//li[@class = "result clearfix"]')

for i in range(len(all_items_url)):
    
    # get link of profile for each prof (item) and go that site

    item = driver.find_elements(By.XPATH, value = './/li[@class = "result clearfix"]')[i]
    links_prof_page = item.find_element(By.XPATH , value = './/h2[@class = "result-title  skim-bottom"]//a')
    links_prof_page = links_prof_page.get_attribute('href')
    url_list.append(links_prof_page)

In [18]:
# store urls for each member

url_df = pd.DataFrame(url_list, columns = ['url'])
url_df

                                                   url
0    https://ntu.ac.uk/__search/s/redirect?collecti...
1    https://ntu.ac.uk/__search/s/redirect?collecti...
2    https://ntu.ac.uk/__search/s/redirect?collecti...
3    https://ntu.ac.uk/__search/s/redirect?collecti...
4    https://ntu.ac.uk/__search/s/redirect?collecti...
..                                                 ...
155  https://ntu.ac.uk/__search/s/redirect?collecti...
156  https://ntu.ac.uk/__search/s/redirect?collecti...
157  https://ntu.ac.uk/__search/s/redirect?collecti...
158  https://ntu.ac.uk/__search/s/redirect?collecti...
159  https://ntu.ac.uk/__search/s/redirect?collecti...

[160 rows x 1 columns]

In [19]:
url_df = url_df.drop_duplicates()
len(url_df)

150

In [20]:
url_df.to_csv("url_df.csv", index=False)

### click to each link and extract all data

In [21]:

data = []

for url in url_list:
    try:
        # In each page of profile,we get name, email, department and research area
        driver.get(url)
        page_prof = driver.find_elements(By.XPATH , value = '//main[@class = "main"]')
        
        for section in page_prof:
            
                    try:
                        name = section.find_element(By.XPATH , value = ".//h1[@class = 'page-heading skim-top skim-bottom']").text
                    except:
                        name = "Unknown"
                        
                    try:
                        email = section.find_element(By.XPATH  , value = './/a[@itemprop= "email"]').text
                    except:
                        email = "Unknown"

                    try:
                        department = section.find_element(By.XPATH, value= './/h3[@class = "skim-top skim-bottom"]').text
                    except:
                        department = 'Unknown' 

                    try:
                        research_area = section.find_element(By.XPATH , value = './/div[@class= "grey-shade key-panel"]').text
                    except:
                        research_area = "Unknown"

                    data.append([name, email, department, research_area])
        
    
    except:
        print("finished!")
        break

print('How long does it take to scrape the whole webpage? {} seconds'.format(time.time() - start_time))

How long does it take to scrape the whole webpage? 16324.04880452156 seconds

In [22]:
len(data)

159

# Create Pandas Dataframe

In [23]:

df = pd.DataFrame(data, columns = ['Name', 'email', 'department' , 'research_area'])
df

,Name,email,department,research_area
0,Sergio Rutella,sergio.rutella@ntu.ac.uk,School of Science & Technology,Research areas\nAreas of clinical research int...
1,petros siegkas,petros.siegkas@ntu.ac.uk,School of Science & Technology,Research areas\nDr Siegkasâ€™ research within th...
2,Richard McFarland,richard.mcfarland@ntu.ac.uk,School of Social Sciences,Research areas\nThe underlying objective of my...
3,Dr Seema Patel,seema.patel02@ntu.ac.uk,Nottingham Law School,"Research areas\nSeema has a PhD in sports law,..."
4,Mark Turner,mark.turner@ntu.ac.uk,School of Science & Technology,Research areas\nResearch in the Turner laborat...
...,...,...,...,...
154,John Hunt,john.hunt@ntu.ac.uk,Research Development,Research areas\nThe Cellular Response to Impla...
155,Chris Young,chris.young@ntu.ac.uk,School of Social Sciences,Research areas\nMy primary research interest i...
156,Graham Pockley,graham.pockley@ntu.ac.uk,School of Science & Technology,Research areas\nGraham Pockley is Emeritus Pro...
157,Edwin Chen,edwin.chen@ntu.ac.uk,School of Science & Technology,Research areas\nEdwin's main research interest...
158,Gamal Abdelmonem,gamal.abdelmonem@ntu.ac.uk,School of Architecture Design and the Built En...,Research areas\nProfessor Abdelmonemâ€™s researc...

In [24]:

df = df.drop_duplicates()

In [25]:
len(url_df)

150

In [26]:
len(df)

149

In [27]:

result = pd.concat([df, url_df], axis=1)
result

,Name,email,department,research_area,url
0,Sergio Rutella,sergio.rutella@ntu.ac.uk,School of Science & Technology,Research areas\nAreas of clinical research int...,https://ntu.ac.uk/__search/s/redirect?collecti...
1,petros siegkas,petros.siegkas@ntu.ac.uk,School of Science & Technology,Research areas\nDr Siegkasâ€™ research within th...,https://ntu.ac.uk/__search/s/redirect?collecti...
2,Richard McFarland,richard.mcfarland@ntu.ac.uk,School of Social Sciences,Research areas\nThe underlying objective of my...,https://ntu.ac.uk/__search/s/redirect?collecti...
3,Dr Seema Patel,seema.patel02@ntu.ac.uk,Nottingham Law School,"Research areas\nSeema has a PhD in sports law,...",https://ntu.ac.uk/__search/s/redirect?collecti...
4,Mark Turner,mark.turner@ntu.ac.uk,School of Science & Technology,Research areas\nResearch in the Turner laborat...,https://ntu.ac.uk/__search/s/redirect?collecti...
...,...,...,...,...,...
145,Chris Young,chris.young@ntu.ac.uk,School of Social Sciences,Research areas\nMy primary research interest i...,https://ntu.ac.uk/__search/s/redirect?collecti...
146,Graham Pockley,graham.pockley@ntu.ac.uk,School of Science & Technology,Research areas\nGraham Pockley is Emeritus Pro...,https://ntu.ac.uk/__search/s/redirect?collecti...
147,Edwin Chen,edwin.chen@ntu.ac.uk,School of Science & Technology,Research areas\nEdwin's main research interest...,https://ntu.ac.uk/__search/s/redirect?collecti...
148,Gamal Abdelmonem,gamal.abdelmonem@ntu.ac.uk,School of Architecture Design and the Built En...,Research areas\nProfessor Abdelmonemâ€™s researc...,https://ntu.ac.uk/__search/s/redirect?collecti...
149,NaN,NaN,NaN,NaN,https://ntu.ac.uk/__search/s/redirect?collecti...

In [28]:
result.to_csv("faculty_member_notthingham.csv", index=False)